$font-family: 'karla', serif;

$tertiary: rgb(6, 214, 160);

$primary: rgb(56, 64, 95);
$secondary: #fff;
$text-primary: #3f3f46;
$text-secondary: rgb(139, 147, 156);

$primary-dark: rgb(56, 64, 95);
$secondary-dark: rgb(14, 19, 31);
$text-primary-dark: rgb(255, 255, 255);
$text-secondary-dark: rgb(139, 147, 156);

