$font-family: 'karla', serif;

$primary: rgb(56, 64, 95);
$secondary: rgb(14, 19, 31);
$tertiary: rgb(6, 214, 160);
$text-primary: rgb(248, 255, 229);
$text-secondary: rgb(139, 147, 156);

body {
    margin: 0;
    font-family: $font-family;
    background: $secondary;
    color: $text-primary;
}
.button {
    border: 0;
    transition: 0.3s;
    &.button-primary {
        background: $tertiary;
        &:hover {
            background: darken($tertiary, 5%);
        }
    }
    &.button-secondary {
        background: $primary;
        &:hover {
            background: darken($primary, 5%);
        }
    }
}

blockquote { border-left: 0.3rem solid $tertiary; }

.subtitle { color: rgb(139, 147, 156); }

// Card
.card {
    margin-bottom: 1rem;
    &.card-vertical {
        display: flex;
        align-items: center;
        background: darken($secondary, 5%);
        padding: 1rem;
        border-radius: 1rem;
        img { margin-right: 10px; }
    }
    img { vertical-align: middle; }
}

// Transition
.slide-right-enter-active,
.slide-right-leave-active {
    transition-duration: 0.5s;
    transition-property: height, opacity, transform;
    transition-timing-function: cubic-bezier(0.1, 0, 0.55, 1);
    overflow: hidden;
}
.slide-right-leave-active {
    opacity: 0;
    transform: translate(2em, 0);
}
.slide-right-enter {
    opacity: 0;
    transform: translate(-2em, 0);
}

.fade-enter-active {
    transition: all .3s ease;
}
.fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active for <2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}
